#navegador{
  background: blue;
  height:6%;
  width: 100%;
  display:inline-flex;
}

#imgDeNav{
  height: 5vh;
  width: 5vw;
}

.enlace{
  color: Red;
  padding: 4px;
}

.enlace:hover{
  color:gold;
}
